.bg-contact
    background-image: url(../../assets/layered-waves-1.svg) 
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    border: 1px solid black

.form-box
    margin: 1.5rem
    border: 1px solid red
    padding: 3%

.input-box
    display: flex
    justify-content: center
    align-items: center

label
    padding: 1rem

input    
    height: 1.5rem
    border-radius: 10px
    border: 1px solid gray

.textarea-box
    display: flex
    justify-content: center
    border: 1px solid green
    width: 100%

textarea
    height: 10rem
    border-radius: 10px
    border: 1px solid gray
    width: 100%

@media only screen and (min-width: 1025px) 
  .card-contact
    width: 70% !important
    border: 1px solid pink
  
